:root{
    --cor-1: #4B8F8C;
    --cor-2: #4062BB;
    --cor-3: #FFB400;
    --cor-4: #5C0029;
    --cor-5: #F45B69;

    --font-geral: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulos: 'Times New Roman', Times, serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-geral);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-titulos);
}

body, html{
    height: 100%;
    background-color: rgb(245, 245, 245);
}

.login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    padding: 20px;
}

.login-box form{
    margin: 0;
    width: 100%;
}

.form-group input:not([type=submit]){
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    display: block;
    margin: 5px 0;
    padding-left: 4px;
}

.form-group input[type=submit]{
    background-color: var(--cor-1);
    color: white;
    padding: 6px 15px;
    display: inline-block;
    border: 0;
    cursor: pointer;
}

.form-group select{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    background-color: white;
    margin: 5px 0;
}

.form-group textarea{
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    resize: vertical;
}

main{
    display: flex;
    height: 100%;
}

aside{
    background-color: var(--cor-1);
    color: white;
    min-height: 100%;
    text-align: center;
    width: 300px;
}

aside p{
    background-color: #264947;
    padding: 10px;
    border-bottom: 1px solid #333;
}

aside a{
    display: block;
    text-decoration: none;
    color: white;
    background-color: #67c4bf;
    padding: 6px;
}

section.content{
    padding: 20px;
    width: calc(100% - 300px);
}

.box-content{
    background-color: white;
    padding: 20px;
}

.w33{
    width: 33.3%;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

form{
    margin-top: 10px;
}

.table-wrapper{
    overflow-x: auto;
}

table{
    min-width: 900px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table tr:nth-of-type(1){
    background-color: var(--cor-1);
    color: white;
}

table tr{
    border-bottom: 1px solid #ccc;
}

table td{
    padding: 10px 0;
}

.btn{
    display: inline-block;
    padding: 4px 10px;
    text-decoration: none;
    color: white;
    margin: 0 4px;
}

.edit{
    background-color: var(--cor-3);
}

.delete{
    background-color: var(--cor-5);
}

.paginacao{
    text-align: center;
}

.paginacao a{
    background-color: var(--cor-4);
    color: white;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 4px;
}
